[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
flask-migrate = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
